<% include includes/header.ejs %>
	<div class="hero">
		<div class="hero__overlay hero__overlay--gradient"></div>
		<div class="hero__mask"></div>
		<div class="hero__inner">
			<div class="container">
				<div class="hero__content">
					<div class="hero__content__inner" id='navConverter'>
						<h1 class="hero__title">Komicho open source software projects</h1>
						<p class="hero__text">We build open source projects that can be used in other projects.</p>
						<!-- <a href="#" class="button button__accent">Download Evie</a>
						<a href="#" class="button hero__button">Learn more</a> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero__sub">
		<span id="scrollToNext" class="scroll">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class='hero__sub__down' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z"/></svg>
		</span>
	</div>
	<!-- Steps -->
	<div class="steps landing__section">
		<div class="container">
			<h2>Our goal</h2>
			<p>Our goal for each one.</p>
		</div>
		<div class="container">
			<div class="steps__inner">
				<div class="step">
					<div class="step__media">
						<img src="./public/images/undraw_coding_6mjf.svg" class="step__image">
					</div>
					<h4>Developers</h4>
					<p class="step__text">Facilitate the development process for better and faster productivity.</p>
				</div>
				<div class="step">
					<div class="step__media">
						<img src="./public/images/undraw_startup_life_2du2.svg" class="step__image">
					</div>
					<h4>Startup</h4>
					<p class="step__text">Work on your emerging company through our program and save time for your project.</p>
				</div>
				<div class="step">
					<div class="step__media">
						<img src="./public/images/undraw_bug_fixing_oc7a.svg" class="step__image">
					</div>
					<h4>Tester</h4>
					<p class="step__text">Learn by checking projects and commenting on them if you have any questions.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Expanded sections -->
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="./public/images/undraw_developer_activity_bv83.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Developer activity</h2>
					<p class="expanded__text">You can integrate with us within the community to build more and better projects. We welcome you from anywhere and anytime.</p>
					<p class="expanded__text">You can development with us by taking Fork from our projects. This is very gratifying.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="./public/images/undraw_building_blocks_n0nc.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Building</h2>
					<p class="expanded__text">Building projects using our projects and tools, this will facilitate you a lot of work and effort, we are very happy when you trust in our society.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="./public/images/undraw_confirmation_2uy0.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Ready for production or rapid prototyping</h2>
					<p class="expanded__text">The success of your project is also a success for us. It is our goal to support new projects. Do not worry, we will always be with you.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Call To Action -->
<% include includes/footer.ejs %>