<div class="cta cta--reverse">
	<div class="container">
		<div class="cta__inner">
			<h2 class="cta__title">Buy us coffee</h2>
			<p class="cta__sub cta__sub--center">You can support us by buying a cup of coffee.</p>
			<a href="#" class="button button__accent">Buy us coffee</a>
		</div>
	</div>
</div>